apipkg==1.4
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
backcall==0.1.0
cffi==1.11.5
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.3
decorator==4.2.1
execnet==1.5.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipython==6.3.0
ipython-genutils==0.2.0
jedi==0.11.1
lxml==4.1.1
MarkupPy==1.14
more-itertools==4.1.0
parsel==1.4.0
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
Pygments==2.2.0
pyOpenSSL==17.5.0
pytest==3.5.0
pytest-forked==0.2
pytest-xdist==1.22.2
queuelib==1.4.2
Scrapy==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
Twisted==17.9.0
w3lib==1.19.0
wcwidth==0.1.7
zope.interface==4.4.3
